.img1 {
  width: 4rem;
  border-radius: 4rem;
  margin-left: 4rem;
  margin-top: 1rem;
  margin-bottom: 1.8rem;
  float: left;
  box-shadow: 0px 0px 7px 5px #ffffff;
}

.header {
  background-color: #2fb0a3;
  position: relative;
  bottom: 2rem;
}

.he1 {
  padding: 1.5rem;
  margin-left: 9rem;
}

footer > p {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
}

.in1 {
  position: absolute;
  width: 231.5px;
  top: 7rem;
  border: none;
  box-shadow: 0px -20px 1px 1px #11c0ad;
}

.in1:hover {
  background: #11c0ad;
}

textarea {
  border: none;
  width: 231.5px;
  box-shadow: -1px 0px 13px 0px grey;
}

form {
  text-align: center;
}

.btn {
  color: orange;
  position: relative;
  top: 0rem;
  right: 4rem;
  background-color: black;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.p2 {
  font-weight: 800;
  color: black;
}

.note {
  margin-left: 3rem;
  box-shadow: 0px 0px 20px 1px grey;
  width: inherit;
  line-height: 2px;
  padding: 1rem;
}

.b1 {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: white;
  border: none;
  box-shadow: 0px 0px 13px 0px grey;
  color: cornflowerblue;
  margin-left: 10rem;
}

.note {
  margin: 1rem;
  float: left;
}

.btn:hover {
  color: rgb(251, 73, 18);
  background-color: #2fb0a3;
  border: none;
  font-size: 29px;
}

textarea:hover {
  background-color: #2fb0a3;
  color: white;
  border: none;
  box-shadow: -16px 17px 2px 5px #e6e6e6;
}

.note:hover {
  background-color: #2fb0a3;
  color: white;
  border: none;
  box-shadow: -16px 17px 2px 5px #e6e6e6;
}

.b1:hover {
  color: red;
  box-shadow: 2px 2px 0px 2px #545549;
}
