.img1 {
  width: 4rem;
  border-radius: 4rem;
  margin-left: 4rem;
  margin-top: 1rem;
  margin-bottom: 1.8rem;
  float: left;
}

.header {
  background-color: #e1d20a;
  position: relative;
  bottom: 2rem;
}

.he1 {
  padding: 1.5rem;
  margin-left: 9rem;
}

footer > p {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
}

.in1 {
  position: absolute;
  width: 231.5px;
  top: 7rem;
  border: none;
  box-shadow: inset 0px -15px 20px 0px #18a4fe;
}

textarea {
  border: none;
  width: 231.5px;
  box-shadow: -1px 0px 13px 0px grey;
}

form {
  text-align: center;
}

.btn {
  color: orange;
  position: relative;
  top: 0rem;
  right: 4rem;
  background-color: black;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.p2 {
  font-weight: 800;
  color: black;
}

.note {
  margin-left: 3rem;
  box-shadow: 0px 0px 20px 1px grey;
  width: 13rem;
  line-height: 2px;
  padding: 1rem;
}

.b1 {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: white;
  border: none;
  box-shadow: 0px 0px 13px 0px grey;
  color: cornflowerblue;
}
